@import '@/assets/style/mixin.scss';
.bottomMain{
  margin: 25px auto 0 auto;
  @include wh(1880px, 970px);
  @include fj(space-between);
  .mainLeft,
  .mainRight {
    flex-direction: column;
    align-items: flex-start;
    @include wh(526px, 100%);
    @include fj(space-between);
    .divTitle{
      display: flex;
      justify-content: space-between;
      margin: 25px 55px 0 55px;
      font-size: 21px;
      color: #0072ff;

      span {
        @include sc(22px, #00eaff);
      }
    }

    .firstDiv {
      @include wh(100%, 346px);
      @include bis('../../../../assets/images/common/border346.png');

      #leftChart {
        height: 265px;
      }

    }

    .secondDiv {
      @include wh(100%, 603px);
      @include bis('../../../../assets/images/common/border603.png');

      .tableWrap {
        margin: 20px auto 0 auto;
        width: 95%;
        height: 515px;
        .paginationWrap{
          padding: 5px 0;
          float: right;
        }
      }
    }
  }

  .mainCenter {
    width: calc(100% - 526px - 526px);
    height: 100%;

    .centerTop {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 40px;
      @include bis('../../../../assets/images/common/mapTitleTop.png');

      .selectWidth {
        width: 150px;
        margin: 0 10px 0 80px;
      }

      .title {
        // position: absolute;
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, -50%);
        font-size: 24px;
      }
    }

    #mapWrap {
      height: calc(100% - 40px);
    }
  }

  .mainRight {
    .firstDiv {
      @include wh(100%, 475px);
      @include bis('../../../../assets/images/common/border301.png');

      #healthOutputChart {
        height: 365px;
      }
    }

    .secondDiv {
      @include wh(100%, 475px);
      // @include bis('../../assets/images/common/border301.png');

      #healthIncrementChart {
        height: 365px;
      }
    }
  }
}