@import '@/assets/style/mixin.scss';

.bottomMain {
  margin: 25px auto 0 auto;
  @include wh(1880px, 970px);
  @include fj(space-between);

  .mainLeft {
    @include wh(1435px, 100%);
    border: 1px solid rgba(55,85,218,0.3);
    box-shadow: 0 0 15px 5px rgba(94, 95, 133, 0.2) inset;

    .leftTitle {
      @include sc(24px, #fff);
      text-align: center;
      font-weight: bold;
      background: url(../../assets/images/common/mapTitleTop.png) center no-repeat;
    }
    
    .overviewArea,
    .netArea {
      position: relative;
      padding: 10px;
      margin-top: 10px;
      line-height: 20px;
      height: 914px;
      @include sc(14px,#333);

      .backgroundTxt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        font-weight: bold;
        @include sc(32px, #999);

        i {
          margin-right: 5px;
          font-size: 34px;
          font-weight: bold;
        }
      }
      .overViewArea{
        @include wh(100%,100%);
        overflow-y: auto;
      }
    }
    .backgroundWhite{
      background-color: #fff;
    }
  }

  .mainRight {
    background: url(../../assets//images/common/borderAllHeight.png) center no-repeat;
    background-size: 100% 100%;
    @include wh(430px, 100%);

    .searchTypeTab {
      margin: 25px auto 0 auto;
      width: 80%;
      line-height: 35px;
      @include fj(space-between);

      li {
        width: 50%;
        text-align: center;
        cursor: pointer;
        @include sc(20px, #0096ff);

        &.active {
          color: #fff;
          background: rgba(0,234,255,0.15);
          border: 1px solid rgba(90,234,255,1);
          border-radius: 3px;
        }
      }
    }

    .localArea,
    .netFileWrap {
      margin-top: 10px;
      height: 914px;

      .searchCount {
        margin: 5px 0 10px 0;
        text-align: center;
        @include sc(16px, #00e8ff);

        span {
          margin: 0 5px;
          font-weight: bold;
        }

        i {
          font-size: 18px;
          font-weight: bold;
          cursor: pointer;
        }
      }

      .searchBtn {
        cursor: pointer;
      }

      .localFileWrap {
        .fileItem {
          margin: 0 auto 15px auto;
          width: 90%;
          height: 160px;
          border-radius: 5px;
          color: #bbbbbb;
          background: rgba(23,129,255,0.15);

          .fileTitle {
            padding: 0 5px;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-all;
            @include sc(18px,#fff);
            font-weight: bold;
          }

          .content {
            padding: 5px;
            text-indent: 2em;
            max-height: 97px;
            overflow: hidden;
          }

          .fileBottom {
            padding: 10px;
            @include fj(space-between);
            @include sc(14px, #999);

            .overview {
              text-decoration: underline;
              cursor: pointer;
              @include sc(18px, #169BD5);
            }

            .download {
              cursor: pointer;
              font-weight: bold;
              @include sc(20px, #169BD5);
            }
          }
        }

        .paginationWrap {
          padding: 5px 0;
          float: right;
        }

      }
    }

    .netFileWrap {
      .searchTitle {
        margin-bottom: 15px;
      }

      .nwtFileWrap {
        .fileItem {
          margin: 0 auto 15px auto;
          width: 90%;
          height: 90px;
          border: 1px solid #333;
          border-radius: 5px;
          color: #333;

          .fileTitle {
            padding: 5px 15px;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-all;
            font-size: 18px;
            font-weight: bold;
            color: #fff;
            box-sizing: border-box;
          }

          .content {
            text-decoration: underline;
            padding: 5px;
            line-height: 40px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-all;
            box-sizing: border-box;
            text-align: center;
            cursor: pointer;
            @include sc(16px, #169BD5);
          }
        }

        .paginationWrap {
          padding: 5px 0;
          float: right;
        }
      }
    }
  }
}