@import '@/assets/style/mixin.scss';

.bottomMain {
  margin: 25px auto 0 auto;
  @include wh(1880px, 970px);
  @include fj(space-between);

  .mainLeft {
    @include wh(1435px, 100%);

    .leftTitle {
      @include sc(35px, #fff);
      text-align: center;
      font-weight: bold;
    }

    .overviewArea,
    .netArea {
      position: relative;
      padding: 10px;
      margin-top: 10px;
      line-height: 20px;
      height: 914px;
      background: #fff;
      @include sc(14px,#333);

      .backgroundTxt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        font-weight: bold;
        @include sc(32px, #999);

        i {
          margin-right: 5px;
          font-size: 34px;
          font-weight: bold;
        }
      }
      .overViewArea{
        @include wh(100%,100%);
      }
    }
  }

  .mainRight {
    @include wh(430px, 100%);

    .searchTypeTab {
      margin: 0 auto;
      width: 80%;
      line-height: 45px;
      @include fj(space-between);

      li {
        width: 50%;
        text-align: center;
        background: #fff;
        cursor: pointer;
        @include sc(20px, #000);

        &:first-child {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }

        &:last-child {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }

        &.active {
          color: #fff;
          background: #999;
        }
      }
    }

    .localArea,
    .netFileWrap {
      margin-top: 10px;
      height: 914px;
      background: #fff;

      .searchTitle {
        padding-bottom: 5px;
        text-align: center;
        border-bottom: 2px solid #333;
        @include sc(18px, #333);
      }

      .searchCount {
        padding: 5px 0;
        text-align: center;
        @include sc(15px, #333);

        span {
          margin: 0 5px;
          @include sc(16px, #000);
          font-weight: bold;
        }

        i {
          font-size: 18px;
          font-weight: bold;
        }
      }

      .searchBtn {
        cursor: pointer;
      }

      .localFileWrap {
        margin-top: -30px;

        .lineGrap {
          position: relative;
          height: 50px;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
            width: 245px;
            border: 2px solid #333;
          }

          span {
            float: right;
            display: block;
            margin-right: 14px;
            margin-top: 14px;
            padding: 5px 10px;
            border-radius: 3px;
            background: #169bd5;
            font-size: 14px;
            color: #fff;
            cursor: pointer;
          }
        }

        .fileItem {
          margin: 0 auto 15px auto;
          width: 90%;
          height: 160px;
          border: 1px solid #333;
          border-radius: 5px;
          color: #333;

          .fileTitle {
            padding: 0 5px;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-all;
            font-size: 18px;
            font-weight: bold;
          }

          .content {
            padding: 5px;
            text-indent: 2em;
            max-height: 97px;
            overflow: hidden;
          }

          .fileBottom {
            padding: 10px;
            @include fj(space-between);
            @include sc(14px, #999);

            .overview {
              text-decoration: underline;
              cursor: pointer;
              @include sc(18px, #169BD5);
            }

            .download {
              cursor: pointer;
              font-weight: bold;
              @include sc(20px, #169BD5);
            }
          }
        }

        .paginationWrap {
          padding: 5px 0;
          float: right;
        }

      }
    }

    .netFileWrap {
      .searchTitle {
        margin-bottom: 15px;
      }

      .nwtFileWrap {
        .fileItem {
          margin: 0 auto 15px auto;
          width: 90%;
          height: 90px;
          border: 1px solid #333;
          border-radius: 5px;
          color: #333;

          .fileTitle {
            padding: 5px 15px;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-all;
            font-size: 18px;
            font-weight: bold;
            box-sizing: border-box;
          }

          .content {
            text-decoration: underline;
            padding: 5px;
            line-height: 40px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-all;
            box-sizing: border-box;
            text-align: center;
            cursor: pointer;
            @include sc(16px, #169BD5);
          }
        }

        .paginationWrap {
          padding: 5px 0;
          float: right;
        }
      }
    }
  }
}