@import '@/assets/style/mixin.scss';
.bottomMain{
  margin: 25px auto 0 auto;
  @include wh(1880px, 970px);
  @include fj(space-between);
  .mainLeft,
  .mainRight {
    flex-direction: column;
    align-items: flex-start;
    @include wh(526px, 100%);
    @include fj(space-between);

    .divTitle {
      margin-top: 25px;
      margin: 25px 55px 0 55px;
      font-size: 22px;
      @include sc(18px, #00eaff);

      i {
        background: linear-gradient(to right, #0072ff, #01aaff);
        -webkit-background-clip: text;
        @include sc(22px, transparent);
      }
    }
  }

  .mainLeft {
    .firstDiv {
      @include wh(100%, 346px);
      @include bis('../../../../assets/images/common/border346.png');
      @include bis('../../../../assets/images/common/border346.png');
      #PersonBedChart {
        height: 265px;
      }
    }

    .secondDiv {
      @include wh(100%, 346px);
      @include bis('../../../../assets/images/common/border346.png');
      #personBedThousandChart {
        height: 265px;
      }
    }

    .thirdDiv {
      position: relative;
      @include wh(100%, 234px);
      @include bis('../../../../assets/images/common/border234.png');
      .chartWrap{
        display: flex;
        justify-content: space-between;
      }
      #personPercentChart {
        @include wh(45%,165px);
      }
      #bedAllotChart {
        @include wh(55%, 165px);
      }
    }
  }

  .mainRight {
    .firstDiv {
      @include wh(100%, 301px);
      @include bis('../../../../assets/images/common/border301.png');

      #healthOutputChart,
      #healthIncrementChart {
        position: relative;
        height: 230px;
        background: url('../../../../assets/images/features/treeChartImg.png') no-repeat center;

        .span10 {
          position: absolute;
          top: 147px;
          right: 290px;
        }

        .span9 {
          position: absolute;
          top: 135px;
          left: 290px;
        }

        .span8 {
          position: absolute;
          top: 120px;
          right: 290px;
        }

        .span7 {
          position: absolute;
          top: 103px;
          left: 290px;
        }

        .span6 {
          position: absolute;
          top: 90px;
          right: 290px;
        }

        .span5 {
          position: absolute;
          top: 73px;
          left: 290px;
        }

        .span4 {
          position: absolute;
          top: 60px;
          right: 290px;
        }

        .span3 {
          position: absolute;
          top: 44px;
          left: 290px;
        }

        .span2 {
          position: absolute;
          top: 30px;
          right: 290px;
        }

        .span1 {
          position: absolute;
          top: 17px;
          left: 290px;
        }

        .span0 {
          position: absolute;
          top: 3px;
          left: 50%;
          transform: translateX(-50%);
        }
        .span11 {
          position: absolute;
          bottom: 21px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .thirdDiv {
      @include wh(100%, 346px);
      @include bis('../../../../assets/images/common/border346.png');

      #locationBedChart {
        height: 270px;
      }
    }
  }
  .mainCenter {
    width: calc(100% - 526px - 526px);
    height: 100%;
    .centerTop {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 40px;
      @include bis('../../../../assets/images/common/mapTitleTop.png');
      .selectWidth{
        width: 150px;
        margin-left: 10px;
      }
      .title{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
      }
    }
    .typeWrap{
      margin: 5px;
      @include fj(center);
    }

    #mapWrap {
      height: calc(100% - 100px);
    }
  }
}